/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* navbar */

image {
    text-align: center;
}

header {
    background-color: #25B3B5;
    border: 1px solid
}

h1 {
    text-align: center;
    position: relative;
}

.navbar a {
    text-decoration: none;
    border: 1px solid;
    border-radius: 0 0 10px 10px;
    text-align: center;
}

a {
    background-color: #25B3B5;
    padding: 5px;
    font-family: #0000;
    color: white;
    display: inline-block;
}

nav {
    text-align: center;
    position: absolute;
}


/* ---------------main--------------*/

.artcenter {
    border: 3px solid #25b3b5;
    width: 1000px;
    text-align: center;
    margin: 30px auto 30px auto;
    border-radius: 10px;
}

.artcenter h2 {
    background-color: #25B3B5;
    border-radius: 10px;
}

article>img {
    border-radius: 50%;
    float: left;
}

.art2 {
    border: 3px solid #25b3b5;
    border-radius: 10px;
    width: 60%;
}

section aside {
    width: 20%;
    padding-left: .5rem;
    margin-left: .5rem;
    float: right;
    box-shadow: inset 5px 0 5px -5px #29627e;
    color: #29627e;
    border: 3px solid #25b3b5;
    border-radius: 10px;
}